{
"action" : "actions",
"list" : [
{
"action" : "spark"
},
{
"action" : "sound",
"options" :   [ "/sfx/gun/crit_hit.ogg", "/sfx/gun/crit_hit2.ogg", "/sfx/gun/crit_hit3.ogg", "/sfx/gun/crit_hit4.ogg", "/sfx/gun/crit_hit5.ogg" ]

},
{
"action" : "explosion",
"foregroundRadius" : 1,
"backgroundRadius" : 0,
"explosiveDamageAmount" : 0.5,
"delaySteps" : 2
}
]
}
